/*  Nombre del archivo: formulario.css */
/* Estilos específicos para el formulario de registro */
.mi-formulario {
    background-color: #4CAF50; 
    padding: 20px;
    border-radius: 8px;
    color: white;
    max-width: 400px; 
    margin: 0 auto; 
  }
  
  .mi-formulario label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Color del texto para las etiquetas */
  }
  
  .mi-formulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .mi-formulario button {
    background-color: #45a049; /* Color de fondo al pasar el ratón */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .mi-formulario button:hover {
    background-color: #4CAF50; /* Color de fondo normal */
  }
  

.visible-options {
  color: black; 
  width: 100%; 
}

.visible-options option {
  width: 100%; 
}
