<!-- Nombre del archivo: pacientes_detalles.html -->
{% extends 'base.html' %}

{% block title %}Detalles de Pacientes{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mt-4 mb-4">Detalles de Pacientes</h2>
        
        <!-- Formulario para buscar por número de identificación -->
        <form method="POST" action="{{ url_for('buscar_paciente') }}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Número de Identificación" name="documento_busqueda">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if pacientes_detalles %}
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Documento de Identidad</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Dirección</th>
                            <th>Contacto</th>
                            <th>Fecha de Consulta</th>
                            <th>Diagnóstico</th>
                            <th>Tratamiento</th>
                            <th>Resultados de Exámenes</th>
                            <th>EPS</th>
                            <th>Historial Médico</th>
                            <th>Cita</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paciente in pacientes_detalles %}
                            <tr>
                                <td>{{ paciente.ID_Paciente }}</td>
                                <td>{{ paciente.Nombre_Paciente }}</td>
                                <td>{{ paciente.Apellido_Paciente }}</td>
                                <td>{{ paciente.Documento_Identidad }}</td>
                                <td>{{ paciente.Fecha_Nacimiento }}</td>
                                <td>{{ paciente.Direccion }}</td>
                                <td>{{ paciente.Contacto }}</td>
                                <td>{{ paciente.Fecha_Consulta }}</td>
                                <td>{{ paciente.Diagnostico }}</td>
                                <td>{{ paciente.Tratamiento }}</td>
                                <td>{{ paciente.Resultados_Examenes }}</td>
                                <td>{{ paciente.Nombre_EPS }}</td>
                                <td>
                                    {% if paciente.Historial_Medico %}
                                        <a href="{{ url_for('historial_medico', paciente_id=paciente.ID_Paciente) }}" target="_blank">Ver historial médico</a>
                                    {% else %}
                                        Sin historial médico
                                    {% endif %}
                                </td>
                                <td>
                                    {% if paciente.Fecha_Cita %}
                                        {{ paciente.Fecha_Cita }}
                                    {% else %}
                                        Sin cita
                                    {% endif %}
                                </td>
                                <td>
                                    <form method="POST" action="{% if paciente and 'ID_Paciente' in paciente %}{{ url_for('eliminar_paciente', paciente_id=paciente.ID_Paciente) }}{% endif %}">
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar a este paciente?')">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No hay pacientes registrados.</p>
        {% endif %}
    </div>
{% endblock %}
