<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Búsqueda</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Resultado de Búsqueda</h2>

    {% if paciente_encontrado %}
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento de Identidad</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Contacto</th>
                <th>Fecha de Consulta</th>
                <th>Diagnóstico</th>
                <th>Tratamiento</th>
                <th>Resultados de Exámenes</th>
                <th>EPS</th>
            </tr>
            {% for paciente in paciente_encontrado %}
                <tr>
                    <td>{{ paciente[0] }}</td>
                    <td>{{ paciente[1] }}</td>
                    <td>{{ paciente[2] }}</td>
                    <td>{{ paciente[3] }}</td>
                    <td>{{ paciente[4] }}</td>
                    <td>{{ paciente[5] }}</td>
                    <td>{{ paciente[6] }}</td>
                    <td>{{ paciente[7] }}</td>
                    <td>{{ paciente[8] }}</td>
                    <td>{{ paciente[9] }}</td>
                    <td>{{ paciente[10] }}</td>
                    <td>{{ paciente[11] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No se encontró ningún paciente con el ID proporcionado.</p>
    {% endif %}

</body>
</html>
